body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    font-size: 24px;
    margin-bottom: 20px;
    justify-content: center;
}

h4 {
    font-size: 18px;
    margin-top: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.brands {
    margin-top: 20px;
}

.brand {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination__item:hover {
    background-color: #0056b3;
}

.pagination__item--active {
    background-color: #0056b3;
}
